@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
  /* scroll-padding: 5rem; */
}
body {
  display: flex;
}
/* ::selection {
  color: hsl(var(--pc));
  background: hsl(var(--p));
} */
